nav {
    background-color: rgb(25 25 112 / 0.9);
    padding: 10px;
}
nav a {
    color:white;
    display: block;
    padding: 20px;
}
p {
    padding:0;
}
main {
    max-width: 800px;
}
h1 {
    color: rgb(25 25 112 / 0.8);
}
main img {
   width: 150px;
   height: auto;
   border: 1px solid black;
   padding: 2px;
   box-shadow: 0 0 30px gray;
}
aside {
    width: 0 auto;
    margin: 3rem;
    border: 3px solid midnightblue;
    padding: 5px;
    background-color: rgb(25 25 112 / 0.8);
    color: white;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
    border: 3px solid rgb(37, 37, 74)
}
footer {
    margin-top: 5px;
    border-top: 5px double midnightblue;
    text-align: center;
}